@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

html,
body {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* addFormHeader styles */
.addFormHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: #88304e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 85px;
  width: 100%;
}

.addFormHeader h2 {
  font-size: 4.2rem;
  margin-left: 15px;
}

.addFormHeader button {
  background: #522546;
  color: white;
  font-size: 2rem;
  border-radius: 20px;
  padding: 10px 40px;
  margin-right: 20px;
  border: none;
}

.addFormHeader button:hover {
  opacity: 0.7;
}

/* add form styles*/
.addFormContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background: #311d3f;
  color: white;
}

.addFormContainer h2 {
  font-size: 3.2rem;
}

.addFormContainer form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  width: 400px;
  background: #522546;
  padding: 40px 20px;
  border-radius: 10px;
  margin-bottom: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.addFormContainer form input {
  width: 300px;
  margin-bottom: 10px;
  padding: 12px 20px;
  outline: none;
  margin-bottom: 15px;
  border-radius: 4px;
  background: #522546;
  border: 2px solid white;
  font-size: 2rem;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.addFormContainer form input:hover {
  border-color: #311d3f;
}

.addFormContainer form .formRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.addFormContainer form textarea {
  width: 300px;
  margin-bottom: 10px;
  padding: 12px 20px;
  outline: none;
  margin-bottom: 15px;
  border-radius: 4px;
  background: #522546;
  border: 2px solid white;
  font-size: 2rem;
  color: white;
  word-wrap: nowrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.addFormContainer form .stampedForm {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 16px;
}

.addFormContainer form .stampedForm input {
  padding: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.addFormContainer form .formBtns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 60px;
}

.addFormContainer form .formBtns button {
  background: #88304e;
  color: white;
  border-radius: 10px;
  font-size: 2rem;
  padding: 10px 20px;
  margin-right: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.addFormContainer form .formBtns button:hover {
  opacity: 0.7;
}

/* usermessage styles */
.userMessage {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

/* loading page styles */
.loading {
  width: 100vw;
  height: 100vh;
  background: #311d3f;
  display: flex;
  align-items: center;
  justify-content: center;
}
